html {
	font-family: HelveticaNeue-Medium;
	font-size: 16px;
	color: #4A4A4A;
}

header {
	font-family: HelveticaNeue-Medium;
	font-size: 16px;
	color: #4A4A4A;
	text-align: center;
	padding: 40px;
}

.subHeader {
	font-family: HelveticaNeue-Regular;
}

.themeColor {
	font-family: HelveticaNeue-Medium;
	color: #D8232A;
}

.fieldLabel {
	font-family: HelveticaNeue-Bold;
	font-size: 15px;
	color: #D8232A;
	letter-spacing: 0.33px;

	text-align: left;
    display: inline-block;
	padding-bottom: 10px
}

.labelHint {
	font-family: HelveticaNeue-Medium;
	color: #9B9B9B;
}

.fieldValue {
    width: 536px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #4A4A4A;

    font-family: HelveticaNeue;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: 0.33px;
    padding-left: 10px;
}

.container {
    width: 536px;
    margin-left: auto;
    margin-right: auto;
}

.submitButton {
	font-family: HelveticaNeue-Medium;
	font-size:18px;
	color: #FFFFFF;
	letter-spacing: 0.4px;
	text-align: center;

	margin-top: 20px;
	background-color: #D8232A; 
	width: 536px;
	height: 40px;
    border: none;
    border-radius: 2px;
}

