html {
	font-family: HelveticaNeue-Medium;
	font-size: 16px;
	color: #4A4A4A;
}

header {
	font-family: HelveticaNeue-Medium;
	font-size: 16px;
	color: #4A4A4A;
	text-align: center;
	padding: 40px;
}

.pg2Header {
    padding-bottom: 0px;
}

.subHeader {
	font-family: HelveticaNeue-Regular;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.tablinks {
    font-family: HelveticaNeue-Medium;
    font-size: 14px;
    color: #D8232A;
    letter-spacing: 0.31px;
    text-align: center;

    background-color: #FFFFFF;
    border: 1px solid #D8232A;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

#leftTab {
    border-radius: 3px 0 0 3px;
}

#rightTab {
    border-radius: 0 3px 3px 0;
}

.selectedTab {
    background-color: #D8232A;
    color: #FFFFFF;
}

.themeColor {
	font-family: HelveticaNeue-Medium;
	color: #D8232A;
}

.fieldLabel {
    font-family: HelveticaNeue-Bold;
    font-size: 15px;
    color: #D8232A;
    letter-spacing: 0.33px;
    display: inline-block;
    padding-bottom: 10px
}

.labelHint {
	font-family: HelveticaNeue-Medium;
	color: #9B9B9B;
}

.fieldValue {
    margin-bottom: 20px;
    font-family: HelveticaNeue;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: 0.33px;
    
    width: 536px;
    height: 40px;
    padding-left: 10px;
}

.fieldValueDate {
    margin-bottom: 20px;
    font-family: HelveticaNeue;
    color: #4A4A4A;

    width: 522px;
    height: 40px;
    padding-left: 10px;
}

.fieldValueText {
    margin-bottom: 20px;
    font-family: HelveticaNeue;
    color: #4A4A4A;

    width: 520px;
    height: 40px;
    padding-left: 10px;

}

.pg2FieldValue {
    margin-bottom: 0px;
    padding-left: 0px;

    font-family: HelveticaNeue;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: 0.33px;

    width: 536px;
    height: 40px;
}

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(Icon_Dropdown.svg) no-repeat;
    background-position: right;
    background-size: 10px;
    background-position: 98% 50%
}

.container {
    width: 536px;
    margin-left: auto;
    margin-right: auto;
}

.submitButton {
	font-family: HelveticaNeue-Medium;
	font-size:18px;
	color: #FFFFFF;
	letter-spacing: 0.4px;
	text-align: center;

	background-color: #D8232A; 
    border-radius: 4px;

	margin-top: 20px;
	width: 536px;
	height: 40px;
    border: none;
    outline: none;
}


.historyDate {
    font-family: HelveticaNeue-Bold;
    font-size: 18px;
    color: #D8232A;
    letter-spacing: 0.28px;
    padding-bottom: 20px;
}

.historyContainer {
    display: flex;
    flex-flow: row wrap;
    width: 536px;
    align-items: flex-start;
}

.historyData {
    flex-basis: 50%;
}

.historyLabel {
    font-family: HelveticaNeue-Bold;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: 0.33px;
    padding-bottom: 10px;
}

.historyValue {
    font-family: HelveticaNeue;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: 0.33px;
    padding-bottom: 20px;
}

hr {
    width: 536px;
    border: 0;
    height: 1px;
    background: #9B9B9B;
    margin-bottom: 20px;
}

/*** Scrollbar ***/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
    background: #9B9B9B;
}

::-webkit-scrollbar-thumb:hover {
    background: #4A4A4A;
}

.errorContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.errorCode {
    font-family: HelveticaNeue;
    font-size: 100px;
    color: #4A4A4A;
    text-align: center;
}

.errorMessage {
    font-family: HelveticaNeue-Light;
    font-size: 24px;
    color: #4A4A4A;
    text-align: center;
}

@media screen and (max-width: 600px) {
    html {
        font-family: HelveticaNeue-Medium;
        font-size: 16px;
        color: #4A4A4A;
    }

    header {
    	font-family: HelveticaNeue-Medium;
    	font-size: 16px;
    	color: #4A4A4A;
    	text-align: center;
    	padding: 20px;
    }

    body {
        height: auto;
        min-height: 93vh;
    }

    .fieldValue {
        width: 294px;
        height: 40px;
        margin-bottom: 20px;
        font-size: 15px;
        color: #4A4A4A;

        font-family: HelveticaNeue;
        font-size: 15px;
        color: #4A4A4A;
        letter-spacing: 0.33px;
    }

    .pg2FieldValue {
        margin-bottom: 0px;
        padding-left: 0px;

        font-family: HelveticaNeue;
        font-size: 15px;
        color: #4A4A4A;
        letter-spacing: 0.33px;

        width: 294px;
        height: 40px;
    }

    .fieldValueDate {
        margin-bottom: 20px;
        font-family: HelveticaNeue;
        color: #4A4A4A;

        width: 280px;
        height: 40px;
        padding-left: 10px;
    }

    .fieldValueText {
        margin-bottom: 20px;
        font-family: HelveticaNeue;
        color: #4A4A4A;

        height: 40px;
        padding-left: 10px;
        width: 278px;
    }

    .container {
        width: 294px;
        height: auto;
        min-height: 93vh;
        margin-left: auto;
        margin-right: auto;
    }

    .submitButton {
    	font-family: HelveticaNeue-Medium;
    	font-size:18px;
    	color: #FFFFFF;
    	letter-spacing: 0.4px;
    	text-align: center;
    	position: absolute;
    	bottom: 50px;

    	margin-top: 10px;
    	background-color: #D8232A;
    	width: 294px;
    	height: 40px;
        border: none;
        border-radius: 2px;
    }

    .submitButtonUnwell {
    	font-family: HelveticaNeue-Medium;
    	font-size:18px;
    	color: #FFFFFF;
    	letter-spacing: 0.4px;
    	text-align: center;
    	position: absolute;

    	margin-top: 10px;
    	background-color: #D8232A;
    	width: 294px;
    	height: 40px;
        border: none;
        border-radius: 2px;
    }

    .historyContainer {
        display: flex;
        flex-flow: row wrap;
        width: 294px;
        align-items: stretch;
    }

    .historyData {
        flex-basis: 100%;
    }

    .historyItem{
        width: 294px;
        height: 100%;
    }

    #historyTab {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 700px;
    }
}

