html {
	font-family: HelveticaNeue-Medium;
	font-size: 16px;
	color: #4A4A4A;
}

header {
	font-family: HelveticaNeue-Medium;
	font-size: 16px;
	color: #4A4A4A;
	text-align: center;
	padding-top: 40px;
}

.subHeader {
	font-family: HelveticaNeue-Regular;
}

.tab {
    display: flex;
    justify-content: center;
}

.tablinks {
    font-family: HelveticaNeue-Medium;
    font-size: 14px;
    color: #D8232A;
    letter-spacing: 0.31px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: #FFFFFF;
    border: 1px solid #D8232A;
    border-radius: 0 3px 3px 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

#defaultTab {
    background-color: #D8232A;
    color: #FFFFFF;
    border-radius: 3px 0 0 3px;
}

.historyTab {
    overflow-y: scroll;
}

.themeColor {
	font-family: HelveticaNeue-Medium;
	color: #D8232A;
}

.fieldLabel {
	font-family: HelveticaNeue-Bold;
	font-size: 15px;
	color: #D8232A;
	letter-spacing: 0.33px;
	padding-bottom: 10px;
}

.labelHint {
	font-family: HelveticaNeue-Medium;
	color: #9B9B9B;
}

.fieldValue {
    margin-bottom: 20px;
    font-family: HelveticaNeue;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: 0.33px;
}

.container {
    width: 536px;
    margin-left: auto;
    margin-right: auto;
}

.updateButton {
	font-family: HelveticaNeue-Medium;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0.4px;
	text-align: center;

	margin-top: 20px;
	background-color: #D8232A; 
	width: 536px;
	height: 40px;
    border: none;
    border-radius: 4px;
}

